.script-display-wrapper{
    position: absolute;
    width: 60%;
    height: fit-content;
    top: 80px;
    z-index: 4;
    left: 50%;
    translate: -50%;
}

#first {
    position: absolute;
    left: 15%;
    scale: 40%;
    top: 30px;
    transform: rotate(-5deg);
    z-index: 5;
    filter: drop-shadow(-24px 6px 21px rgba(0, 0, 0, 0.78));
    animation: first 1s ease-in-out .1s forwards;
}


#second {
    position: absolute;
    scale: 40%;
    z-index: 6;
    top: 0px;
    left: 50%;
    translate: -50%;
    -webkit-box-shadow:0px 0px 43px 18px rgba(105,78,212,1);
    -moz-box-shadow: 0px 0px 43px 18px rgba(105,78,212,1);
    box-shadow: 0px 0px 43px 18px rgba(105,78,212,1);
    animation: second 1s ease-in-out .1s forwards;
}

#third {
    position: absolute;
    scale: 40%;
    top: 10px;
    right: 18%;
    transform: rotate(5deg);
    z-index: 5;
    filter: drop-shadow(24px 6px 21px rgba(0, 0, 0, 0.78));
    animation: third 1s ease-in-out .1s forwards;
}


@keyframes first {
    from {
      }
    
      to {
        scale: 55%;
        top: 30px;
        left: 0%;
        transform: rotate(-15deg);
      }
    
}
@keyframes second {
    from {
      }
    
      to {
        scale: 55%;
      }
    
}
@keyframes third {
    from {
      }
    
      to {
        scale: 55%;
        top: 20px;
        right: 2%;
        transform: rotate(15deg);
      }
    
}
